
    <!-- ======= Breadcrumbs ======= -->
    <section class="contact" id="signin">
        <div class="container">
          <div class="section-title">
            <span>Quên Mật Khẩu</span>
            <h2>Quên Mật Khẩu</h2>
            <p>Vui lòng nhập chính xác thông tin yêu cầu để lấy lại mật khẩu</p>
          </div>
  
          <div class="row">
  
            <div class="col-lg-12 mt-12 mt-lg-0 d-flex align-items-stretch">
              <form class="php-email-form">
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" ng-model="email" name="email" id="email" />
                    <div class="validate"></div>
                  </div>
                  <div class="form-group col-md-12">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" ng-model="username" name="username" id="username" />
                    <div class="validate"></div>
                  </div>
                </div>
                <div class="text-center"><button type="submit" ng-click="forgot()">Lấy lại mật khẩu</button>
               
              </form>
            </div>
  
          </div>
  
        </div>
      </section>
<!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    
    <!-- End Portfolio Details Section -->

  