
    <!-- ======= Breadcrumbs ======= -->
    <section class="contact" id="signin">
        <div class="container">
          <div class="section-title">
            <span>Đổi Mật Khẩu</span>
            <h2>Đổi Mật Khẩu</h2>
            <p>Vui lòng nhập chính xác thông tin yêu cầu để đổi mật khẩu</p>
          </div>
  
          <div class="row">
  
            <div class="col-lg-12 mt-12 mt-lg-0 d-flex align-items-stretch">
              <form class="php-email-form" name="changePass">
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label for="nowpass">Mật khẩu hiện tại</label>
                    <input type="text" class="form-control" ng-model="nowpass" name="txtNowPass" id="nowpass" required/>
                    <span ng-hide="changePass.txtNowPass.$valid">Vui lòng nhập mật khẩu hiện tại</span>
                  </div>
                  <div class="form-group col-md-12">
                    <label for="username">Mật khẩu mới</label>
                    <input type="text" class="form-control" ng-model="newpass" name="txtNewPass" id="newpass" required/>
                    <span ng-hide="changePass.txtNewPass.$valid">Vui lòng nhập mật khẩu mới</span>
                  </div>
                </div>
                <div class="text-center"><button type="submit" ng-click="changeP()">Đổi mật khẩu</button>
               
              </form>
            </div>
  
          </div>
  
        </div>
      </section>
<!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    
    <!-- End Portfolio Details Section -->

  